@import url('https://fonts.googleapis.com/css?family=Hind|Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Hind');

body{
	background-color:rgb(240, 238, 233);
}

.ny{
	font-family: 'Hind', sans-serif;
	text-align: left;
	display:block;
	font-size: 8vw;
	line-height: 6vw;
  margin-left: 3vw;
  margin-top: 10vw;
   z-index: 10;
  color: #3498DA;
}
.p1{
	font-family: 'Hind', sans-serif;
 text-align: left;
 display:block;
 font-size: 4vw;
 line-height: 6vw;
  z-index: 10;
   margin-left: 3vw;

}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 30vw;
  background-color: #BCD0E2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  opacity:40%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.delhi{
	font-family: 'Hind', sans-serif;
	text-align: left;
	display:block;
	font-size: 8vw;
	line-height: 60px;
  margin-left: 10vw;
  margin-top: 10vw;
   z-index: 10;
  color: #3498DA;
}
.p4{
	font-family: 'Hind', sans-serif;
 text-align: left;
 display:block;
 font-size: 4vw;
 line-height: 6vw;
  z-index: 10;
   margin-left: 10vw;
}
.tooltip {
  position: relative;
  display: inline-block;
    margin-top: 3vw;
    margin-left: 28vw;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 30vw;
  background-color: #BCD0E2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  opacity:40%;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.gz{
	font-family: 'Hind', sans-serif;
	text-align: left;
	display:block;
	font-size: 8vw;
	line-height: 6vw;
  margin-left: 3vw;
  margin-top: 10vw;
   z-index: 10;
  color: #3498DA;
}
.p6{
	font-family: 'Hind', sans-serif;
 text-align: left;
 display:block;
 font-size: 4vw;
 line-height: 6vw;
  z-index: 10;
   margin-left: 3vw;

}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 30vw;
  background-color: #BCD0E2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  opacity:40%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.london{
	font-family: 'Hind', sans-serif;
	text-align: left;
	display:block;
	font-size: 8vw;
	line-height: 60px;
  margin-left: 3vw;
  margin-top: 10vw;
   z-index: 10;
  color: #3498DA;
}
.p7{
	font-family: 'Hind', sans-serif;
 text-align: left;
 display:block;
 font-size: 4vw;
 line-height: 6vw;
  z-index: 10;
  margin-left: 3vw;

}
.tooltip {
  position: relative;
  display: inline-block;
    margin-top: 3vw;
    margin-left: 28vw;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 30vw;
  background-color: #BCD0E2;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  opacity:40%;
  /* Position the tooltip */
  position: absolute;
  z-index: 10;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}