@import url('https://fonts.googleapis.com/css?family=Jockey+One');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Teko');

body{
	background-color:rgb(255, 184, 28);
}
p{
	width: 100%;
}

.character{
font-family: 'Jockey One', sans-serif;
	text-align: left;
	font-size: 28px;
	font-weight: 50;
	margin-top:48px;
	margin-left:60px;
	color:rgb(89, 43, 0);
	line-height: 30pt;
}
.element {
	position: absolute;
	margin-top:-20px;
  	top: 8px;
  	left: 16px;
}

.cha{
font-family: 'Jockey One', sans-serif;
	font-size: 40px;
	margin-left:60px;
	color:rgb(89, 43, 0);
	line-height: 33pt;
	font-weight: 20;
}
.element-1 {
	position: absolute;
	margin-top:230px;
  	top: 8px;
  	left: 16px;
}
.Gatsby{
	font-family: 'Teko', sans-serif;
	font-size: 140px;
	margin-left: 80px;
	margin-top:-500px;
	color:white;
	font-weight: 700;
	text-decoration:none;
	transition: 0.3s;
	display: block;
}
.Gatsby a:hover {
	color:rgb(0, 28, 59);	
}



.character1{
font-family: 'Jockey One', sans-serif;
	text-align: left;
	font-size: 35px;
	margin:35px;
	margin-top:60px;
	margin-left:200px;
	color:rgb(89, 43, 0);
	font-weight: 700;
}
.Gatsby1{
	font-family: 'Teko', sans-serif;
	text-align: right;
	width: 100%;
	font-size: 45px;
	margin-top: -100px;
	color:#006400;
}
.Gatsby2{
	font-family: 'Teko', sans-serif;
	text-align: right;
	font-size: 45px;
	margin-top: -60px;
	margin-left:-250px;
	color:rgb(0, 0, 108);
	line-height: 30pt;
}
.element2 {
	position: absolute;
	margin-top: -10px;
	margin-left:700px;
  	z-index:6ï¼›
}

.Gatsby5{
	font-family: 'Teko', sans-serif;
	font-size: 140px;
	text-align: center;
	margin-left: 450px;
	margin-top:350px;
	color:white;
	font-weight: 700;
	text-decoration:none;
	line-height:150px;
	transition: 0.3s;
	display: block;
}
.Gatsby5 a:hover {
	color:rgb(0, 28, 59);	
}






.cha1{
font-family: 'Jockey One', sans-serif;
	text-align: left;
	font-size: 155px;
	margin-left: 100px;
	color:white;
	text-decoration:none;
	display: block;
}
.cha1 a:hover {
	color:rgb(0, 28, 59);	
}
.character5{
font-family: 'Jockey One', sans-serif;
	font-size: 30px;
	margin-top:60px;
	text-align:left;
	margin-left:200px;
	color:rgb(89, 43, 0);
	font-weight: 700;
}
.Gatsby3{
	font-family: 'Teko', sans-serif;
	text-align: right;
	font-size: 35px;
	margin-top:40px;
	margin-left:-250px;
	color:rgb(0, 0, 108);
	line-height: 25pt;
}
.character6{
font-family: 'Jockey One', sans-serif;
	font-size: 55px;
	margin-top:20px;
	margin-left:450px;
	color:rgb(89, 43, 0);
	font-weight: 700;
}
.character7{
font-family: 'Jockey One', sans-serif;
	font-size: 30px;
	margin-top:10px;
	text-align:left;
	margin-left:200px;
	color:rgb(89, 43, 0);
	font-weight: 700;
}
.Gatsby6{
	font-family: 'Teko', sans-serif;
	text-align: right;
	font-size: 35px;
	margin-top: 10px;
	margin-left: -260px;
	line-height: 40px;
	color:rgb(0, 0, 108);
}





@import url('https://fonts.googleapis.com/css?family=Jockey+One');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Teko');
body{
  background-color:rgb(255, 184, 28);
}
p{
  width: 100%;
}
.character4{
font-family: 'Jockey One', sans-serif;
  text-align: left;
  font-size: 25px;
  margin-top:60px;
  margin-left:200px;
  color:rgb(89, 43, 0);
  line-height: 30pt;
}
.cha7{
font-family: 'Staatliches', cursive;
  text-align: left;
  font-size: 65px;
  margin-top:150px;
  margin-left:200px;
  color:rgb(89, 43, 0);
  line-height: 10pt;
}
.cha6{
font-family: 'Staatliches', cursive;
  text-align: left;
  font-size: 65px;
  margin-top:95px;
  margin-left:200px;
  color:rgb(89, 43, 0);
  line-height: 40pt;
}
.cha2{
  font-family: 'Teko', sans-serif;
  font-size: 200px;
  margin-left: 440px;
  margin-top:-50px;
  color:white;
  font-weight: 700;
  text-decoration:none;
  transition: 0.3s;
  display: block;
}
.cha2 a:hover {
  color:rgb(0, 28, 59); 
}




.Gatsby4{
	font-family: 'Teko', sans-serif;
	font-size: 55px;
	margin-top: 70px;
	margin-left:920px;
	color:rgb(0, 0, 99);
}
.Gatsby7{
	font-family: 'Teko', sans-serif;
	font-size: 55px;
	margin-top: 70px;
	margin-left: 650px;
	color:rgb(0, 0, 99);
}
.Gatsby8{
	font-family: 'Teko', sans-serif;
	font-size: 55px;
	margin-top: 70px;
	margin-left: 980px;
	color:rgb(0, 0, 99);
}
.cha12{
font-family: 'Staatliches', cursive;
	font-size: 180px;
	text-align:left;
	margin-left:200px;
	margin-top: 10px;
	color:rgb(89, 43, 0);
}
.cha3{
font-family: 'Staatliches', cursive;
	text-align: left;
	font-size: 100px;
	margin-left:200px;
	margin-top: 100px;
	color:rgb(89, 43, 0);
}
.cha4{
font-family: 'Staatliches', cursive;
	text-align: left;
	font-size: 70px;
	margin-top: 100px;
	margin-left:200px;
	color:rgb(89, 43, 0);
}
.cha9{
font-family: 'Staatliches', cursive;
	text-align: left;
	font-size: 70px;
	margin-top: 50px;
	margin-left:200px;
	color:rgb(89, 43, 0);
}
.cha10{
font-family: 'Staatliches', cursive;
	text-align: left;
	font-size: 70px;
	margin-top: 50px;
	margin-left:200px;
	color:rgb(89, 43, 0);
}
.cha11{
font-family: 'Staatliches', cursive;
	text-align: left;
	font-size: 70px;
	margin-top: 10px;
	margin-left:100px;
	color:white;
	text-decoration:none;
	display: block;
}
.cha11 a:hover {
	color:rgb(0, 28, 59);	
}



@import url('https://fonts.googleapis.com/css?family=Jockey+One');
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Teko');
body{
  background-color:rgb(255, 184, 28);
}
p{
  width: 100%;
}

.cha20{
font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 200px;
	margin-top:100px;
	color:rgb(89, 43, 0);
	line-height:300pt;
	margin-bottom:200px;
}
.cha21{
font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 200px;
	color:rgb(89, 43, 0);
	line-height:300pt;
	margin-top:500px;
}
.cha22{
font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 150px;
	margin-top:-130px;
	color:rgb(89, 43, 0);
}
.cha23{
font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 120px;
	margin-top:-30px;
	color:rgb(89, 43, 0);
}
.cha24{
font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 90px;
	margin-top:-30px;
	color:rgb(89, 43, 0);
}
.cha25{
font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 60px;
	margin-top:-10px;
	color:rgb(89, 43, 0);
}
.cha26{
font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 30px;
	margin-top:-10px;
	color:rgb(89, 43, 0);
}
.cha27{
font-family: 'Staatliches', cursive;
	text-align: center;
	font-size: 20px;
	margin-top:600px;
	color:rgb(89, 43, 0);
	color:white;
	text-decoration:none;
	display: block;
}
.cha27 a:hover {
	color:rgb(0, 28, 59);	
}